<form method="post" action="/salvar" class="container mt-3 mb-5">
  <h2>Cadastro</h2>
  <div class="form-group">
    <input type="nome" class="form-control" id="exampleInputNome" aria-describedby="nomeHelp" placeholder="Nome" name="nome">
  </div>
  <input type="hidden" name="acesso">  
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail" name="email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" name="senha">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
