<div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Bem Vindo à Mastertech!</h1>
      <p class="lead">Preparando profissionais para o século XXI</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="login" role="button">Login</a>
      </p>
      <p>ou</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="cadastro" role="button">Cadastre-se</a>
      </p>
    </div>
</div>
